.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.auth__form {
  width: 40ch;
}

.auth__title {
  font-size: 1.5em;
}

.auth__link {
  text-decoration: none;
  color: inherit;
  margin: 1em 0 0;
}