.profile {
  padding: 1em;
  max-width: 55em;
  width: 100%;
  box-sizing: border-box;
}

.profile__section {
  margin-bottom: 1em;
}

.profile__section:last-child {
  margin-bottom: 0;
}

.ask {
  background-color: var(--color-bg-main);
  padding: 1em;
  border: 2px solid var(--color-bg-light);
  border-radius: 1em;
}

.ask__text-area {
  resize: vertical;
  min-height: 1.2em;
  line-height: 1.2em;
  max-height: 10em;
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 1.2em;
}

.ask__text-area-bg {
  padding: 0.8em;
  background-color: var(--color-text-light);
  border-radius: 1em;
}

.ask__control {
  margin-top: 1em;
  display: flex;
}

.ask__send {
  background-color: var(--color-second-light);
  height: 2em;
  margin-left: auto;
}

.ask__error {
  color: var(--color-error);
  margin-left: 1em;
}

.info {
  display: flex;
  gap: 1em;
  padding: 1em;
}