.search {
  background-color: var(--color-main-dark);
  padding: 0.2em 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
}

.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  line-height: 10px;
}

.search__icon {
  background-image: url(../../images/search.svg);
  width: 1em;
  height: 1em;
  background-size: cover;
  display: inline-block;
  margin-right: 0.2em;
}