.search {
  background-color: var(--color-text-main);
  padding: 0.2em 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  max-width: 40ch;
}

.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  line-height: 10px;
  color: black;
  margin: 0;
  padding: 0;
  width: 0;
  flex: 1;
  transition: all 0.1s linear;
}

.search__input:focus {
  width: 200px;
  max-width: calc(100% - 1.3em);
  flex: 1;
  margin: 0 0 0 0.3em;
}

.search__icon {
  background-image: url(../../images/search.svg);
  width: 1em;
  height: 1em;
  background-size: cover;
  display: inline-block;
}