@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --color-bg-light: #2c2c2c;
  --color-bg-main: #222222;
  --color-bg-dark: #141414;
  --color-text-light:#f0f0f0;
  --color-text-main: #e5e5e5;
  --color-text-dark: #828282;
  --color-second-light: #71aaeb;
  --color-second-main: #71aaeb;
  --color-second-dark: #07f;
  --color-error: #ff2f2f;
}

#root {
  min-height: 100vh;
  width: 100%;
  background: var(--color-bg-dark);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  font-family: Rubik;
  font-size: 1.2em;
}
